<p>Hola, {{ name }}:</p>
<p>Te enviamos este correo electrónico para informarte que puedes restablecer tu contraseña siguiendo el enlace a continuación:</p>
<p>
    <a href="{{ url }}">Enlace para restablecer tu contraseña</a>
</p>

<p>Si no has solicitado este correo electrónico o no necesitas restablecer tu contraseña, puedes ignorarlo de forma segura.</p>

