<p>Hola, {{ name }}:</p>
<p>Bienvenido a la aplicacion de denuncias de Santa Cruz de la Sierra</p>
<p>Te enviamos este correo electrónico para informarte que puedes confirmar tu cuenta.</p>
<p>
    Este es tu codigo de verificacion: {{ token }}
</p>

