<p>Hola, {{ name }}:</p>
<p>Hola, Bienvenido a la aplicacion de denuncias de Santa Cruz de la Sierra</p>
<p>Te enviamos este correo electrónico para informarte que puedes confirmar tu cuenta siguiendo el enlace a continuación:</p>
<p>
    Confirma tu cuenta <a href="{{ url }}">Aqu&iacute;</a>
</p>

